body {
    margin: 0;
	font-family: Fredoka;
	border: border-box;
}

.nav-adm {
    background-color: #19C1B6;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 50px;
    color:black;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    
}
.nav-logo{
    height: 50px;
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
}
.logo {
    background-image: url(Assets/logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;

}

.nav-element {
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}
.btn1 {
    background-color: #FEF8EC;
    border-style: none;
    height: 40px;
    width: 150px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    margin-left: 100px;
    font-family: Fredoka;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
   
}
.nav-menu {
    height: 50px;
    padding-right: 100px;
    display: flex;
    align-items: center;
}
i{
    height: 40px;
    color: #19C1B6;
    padding-top: 20px;
    font-size: 1.5rem;
}

.panel1{
    background: linear-gradient(90deg, hsla(40, 90%, 96%, 1) 0%, hsla(176, 56%, 88%, 1) 90%);
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}

.p1 {
    color: #19C1B6;
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: 100px;
    padding-top: 100px;
}
.h1{
    margin-left: 100px;
    font-size: 3rem;
    
    font-weight: 1000;
}
.h2{
    margin-left: 100px;
    font-size: 3rem;
    font-weight: 1000;
    margin-top: -30px;
    
}
.p2{
    margin-left: 100px; 
    padding-top: 30px;
    font-size: 1.2rem;
    text-decoration-line: underline;
}

.btn2 {
    margin-left: 110px;
    margin-top: 10px;
    background-color: orange;
    border-style: none;
    height: 50px;
    width: 120px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: Fredoka;
}

.pict1{
    height: 300px;
    width: 350px;
    margin-left: 300px;
   
}
.pic-1 {
    background-image: url(Assets/logo\ \(2\).png);
    height: 300px;
    width: 350px;
    background-size: cover;
    

}
.panel2 {
    height: 650px;
}
.panel2 p {
    text-align: center;
}
.panel2 h1 {
    font-weight: 800;
    text-align: center;
}

.p2-cards {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-right: 50px;

}
.border {
    
    text-align: center;
    height: 400px;
    width: 350px;
    border: 2px dotted orange;
    border-radius: 30px;



}

.p2-icon{
    margin-top: 40px;
    background-color:#FEF8EC ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 120px;
    
}
.p2-icon i {
    text-align: center;
    font-size: 3rem;
    color: orange;
}

.main-txt {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 1000;
}

.btn3 {
    margin-top: 50px; 
    height: 50px;
    width: 150px; 
    border-radius: 30px;
    border:2px solid orange;
    background-color: white;
    font-family: Fredoka;
}
.btn-ex {
    margin-top: 30px; 
    height: 50px;
    width: 150px; 
    border-radius: 30px;
    border:2px solid orange;
    background-color: white;
    font-family: Fredoka;
}
.border:hover{
    background-color: #19C1B6;
    color: white;

}
.btn3:hover{
    border: 2px solid white;
    background-color: #19C1B6;
    color: white;
}
.btn-ex:hover{
    border: 2px solid white;
    background-color: #19C1B6;
    color: white;
}

.three-dot {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: 50px;


}
.dot1 {
    height: 10px;
    width: 20px;
    background-color: black;
    margin-right: 10px;
    border-radius: 10px;

}

.dot2 {
    height: 10px;
    width: 20px;
    margin-right: 10px;
    background-color: rgb(152, 149, 149);
    border-radius: 10px;
}

.dot3 {
    height: 10px;
    width: 20px;
    background-color: rgb(152, 149, 149);
    border-radius: 10px;
}

.panel3 {
    height: 700px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    

}

.pnl-pic {
    height: 600px;
    width: 600px;
    margin-left: 50px;
}

.pic {
    background-image: url(Assets/1.png);
    height: 600px;
    width: 600px;
    background-size: cover;

}
.our-program  {
    padding-top: 50px;
}

.txt-parag {
    margin-top: 10px;
    margin-bottom: 10px;
}

.experiance{
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #19C1B6;
    border-radius: 20px;
   
}

.exp-line {
    height: 50px;
    border-right: 1px solid white;
}

.exp1 {
    font-size:1.5rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.exp2{
    margin-top: -15px;
    font-size: 0.85rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.btn {
    display: flex;
    margin-top: 20px;
}
.btn-4 i {
    font-size: 1rem;
}
.btn-4 p{
    margin-left: 10px;
}

.para {
    display: flex;
    margin-top: -20px;
}
.btn-5 i {
    font-size: 1rem;
}
.btn-5 p{
    margin-left: 10px;
}

.btn6 {
    display: flex;
}

.btn-6 {
    border-color: orange;
    border-style: none;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: orange;
    font-family: fredoka;
    font-size: 0.80rem;
    font-weight: bold;
    color:white;
}

.play  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #FEF8EC;
    margin-left: 20px;
    margin-top: 5px;
    border: 0.5px solid rgb(232, 173, 63);
    
    
}

.play i {
    color: orange;
    text-align: center;
    margin-left: 5px;
    font-size: 1.3rem;

}
.play-txt {
    margin-left: 10px;
}

/* Panel 4 start */

.panel4 {
    background: linear-gradient(90deg, hsla(40, 90%, 96%, 1) 0%, hsla(176, 56%, 88%, 1) 90%);
    height: 700px;
    width: 100%;
}

.panel4-txt {
    text-align: center;
    padding-top: 50px;
}

.sup-box {
    display: flex;
    justify-content:center;
    align-items: center;
}

.box1 {
    height: 400px;
    width: 250px;
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    

}

.pic1 {
    height: 200px;
    width: 250px;
    padding-left: 20px;
    padding-top: 20px;
}
.pic1_1 {
    background-image: url(Assets/2.jpg);
    height:180px ;
    width: 210px;
    background-size: cover;
    border-radius: 10px;
}
.pic1_2 {
    
    background-image: url(Assets/3.jpg);
    height:180px ;
    width: 210px;
    background-size: cover;
    border-radius: 10px;
}

.pic1_3 {
    
        background-image: url(Assets/4.jpg);
        height:180px ;
        width: 210px;
        background-size: cover;
        border-radius: 10px;
}



.pic1_1_head {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 10px;
}

.pic1_1_p {
    font-size: 0.7rem;
    margin-top: -10px;

}

.box1_1 {
    display: flex;
    height: 90px;
    width: 85%;
    margin-top: 70px;
    margin-left: 15px;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: #19C1B6;
    color: white;
}

.box1_2 {
    display: flex;
    height: 90px;
    width: 85%;
    margin-top: 70px;
    margin-left: 15px;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: orange;
    color: white;
}

.box1_3 {
    display: flex;
    height: 90px;
    width: 85%;
    margin-top: 70px;
    margin-left: 15px;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: rgb(244, 101, 148);
    color: white;
}

.setl1{
    text-align: center;
    font-size: 1rem;
    font-weight: 1000;
}

.set1 {
    font-size: 0.8rem;
    margin-top: -10px;
    font-weight: 500;
}
.setl-line {
    height: 30px;
    margin-top: 30px;
    border-right: 0.5px solid white;
}

.th3-dot {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;


}
.dot-1 {
    height: 10px;
    width: 20px;
    background-color: black;
    margin-right: 10px;
    border-radius: 10px;

}

.dot-2 {
    height: 10px;
    width: 20px;
    margin-right: 10px;
    background-color: rgb(152, 149, 149);
    border-radius: 10px;
}

.dot-3 {
    height: 10px;
    width: 20px;
    background-color: rgb(152, 149, 149);
    border-radius: 10px;
}


/*Accordian */

.about-edukid {
    height: 700px;
    width: 100%;
    display: flex;
    
    
}

.box-accordion {
    height: 500px;
    width: 500px;
}

.accordion {
    width: 500px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background: orange;

}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

label::after {
    content: '+';
    margin-left: 50px;
    font-size: 2rem;
    font-weight: 600;
}


input[type="radio"]{
    display: none;
}

.accordion .content{
    color: white;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}
